@font-face {
    font-family: 'impact';
    src: url(/public/impact.ttf);
  }
.everything{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.task{
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    height: 40px;
    justify-content: space-between;
}
.bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    height: 800px;
    overflow: scroll;
    padding: 20px;
}
.tasktext{
    display: flex;
    align-items: center;
    gap: 10px;
}
.taskbuttons{
    display: flex;
    align-items: center;
    gap: 5px;
}
.title{
    font-size: 75px;
    font-family: impact;
    color: white;
    -webkit-text-stroke: 3px black;
}
.top{
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
}
.button{
    background-color: transparent;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 15px;
}
.button:hover{
    background-color:gray
}
.buttonnull{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 15px;
    background-color: black;
    color: white;
    text-decoration: line-through;
}
.topright{
    display: flex;
    gap: 10px;
    align-self: center;
}
.checkbox{
    height: 30px;
    width: 30px;
}
.tasktext{
    font-size: 25px;
    font-weight: 100;
}